/***CSS for global***/

/***universal***/
.page-wrapper, {
	width: 100%;
}



/***header***/
h1 {
	font-size: 4rem;
	margin-bottom: 1.5rem;
	margin-top: 1rem;
	text-align: center;
	text-shadow: 2px -2px 0px $yellow, 4px -4px 0px $blue, 6px -6px 0px $red, 8px -8px 0px $green;  
	letter-spacing: 6px;
	padding-left: 1rem;
	padding-top: 0.5rem;
	padding-right: 1rem;
	padding-bottom: 0.5rem;
}

h2 {
	margin-bottom: 1rem;
	padding-left: 2.5rem;
	padding-right: 2.5rem;
}

.summary {
	margin-bottom: 2.5rem;
	padding-left: 2.5rem;
	padding-right: 2.5rem;
}	



/***main content***/
.preamble::before, .participation::before, .requirements::before {
	border-radius: 50%;
	height: 75px;
	width: 75px;
	content: "";
	display: block;
	margin-bottom: 1rem;
	float: right;
}

.preamble {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding-left: 2.5rem;
	padding-top: 2rem;
	padding-right: 2.5rem;
	padding-bottom: 2rem;
	overflow: hidden;
	background-image: url(../IMG/zen-pattern1.svg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom;
	background-attachment: fixed;
	h3 {
		margin-bottom: 1rem;
		margin-right: 0.5rem;
		clear: both;
		text-align: right;
	}
	p {
		margin-bottom: 0.5rem;
	}
}

.participation {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding-left: 2.5rem;
	padding-top: 2rem;
	padding-right: 2.5rem;
	padding-bottom: 2rem;
	overflow: hidden;
	background-image: url(../IMG/zen-pattern3.svg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	h3 {
		margin-bottom: 1rem;
		margin-right: 0.5rem;
		clear: both;
		text-align: right;
	}
	p {
		margin-bottom: 0.5rem;
	}
}

.requirements {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding-left: 2.5rem;
	padding-top: 2rem;
	padding-right: 2.5rem;
	padding-bottom: 2rem;
	overflow: hidden;
	background-image: url(../IMG/zen-pattern5.svg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	h3 {
		margin-bottom: 1rem;
		margin-right: 0.5rem;
		clear: both;
		text-align: right;
	}
	p {
		margin-bottom: 0.5rem;
	}
}

.explanation::before, .benefits::before {
	border-radius: 50%;
	height: 75px;
	width: 75px;
	content: "";
	display: block;
	margin-bottom: 1rem;
	float: left;
}

.explanation {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding-left: 2.5rem;
	padding-top: 2rem;
	padding-right: 2.5rem;
	padding-bottom: 2rem;
	overflow: hidden;
	background-image: url(../IMG/zen-pattern2.svg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	h3 {
		margin-bottom: 1rem;
		margin-left: 0.5rem;
		clear: both;
	}
	p {
		margin-bottom: 0.5rem;
	}
}

.benefits {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding-left: 2.5rem;
	padding-top: 2rem;
	padding-right: 2.5rem;
	padding-bottom: 2rem;
	overflow: hidden;
	background-image: url(../IMG/zen-pattern4.svg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	h3 {
		margin-bottom: 1rem;
		margin-left: 0.5rem;
		clear: both;
	}
	p {
		margin-bottom: 0.5rem;
	}
}



/***footer***/
footer {
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 3rem;
	padding-bottom: 3rem;
	a, a:hover {
		color: black;
	}
}

.zen-validate-html, .zen-validate-css, .zen-license, .zen-accessibility, .zen-github {
  padding: 2rem 2rem 2rem 7rem;
  text-align: center;
  display: block;
  margin-bottom: 0.5rem;
}

.zen-validate-html {
	background-image: url(../IMG/blue-bg.svg);
	background-size: 80px 80px;
	background-repeat: no-repeat;
}

.zen-validate-css {
	background-image: url(../IMG/black-bg.svg);
	background-size: 80px 80px;
	background-repeat: no-repeat;
}

.zen-license {
	background-image: url(../IMG/red-bg.svg);
	background-size: 80px 80px;
	background-repeat: no-repeat;
}

.zen-accessibility {
	background-image: url(../IMG/yellow-bg.svg);
	background-size: 80px 80px;
	background-repeat: no-repeat;
}

.zen-github {
	background-image: url(../IMG/green-bg.svg);
	background-size: 80px 80px;
	background-repeat: no-repeat;
}



/***sidebar***/
.design-selection::before, .zen-resources::before {
	border-radius: 50%;
	height: 75px;
	width: 75px;
	content: "";
	display: block;
	float: right;
	margin-bottom: 1rem;
}

.design-selection, .zen-resources {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding-left: 2.5rem;
	padding-top: 2rem;
	padding-right: 2.5rem;
	padding-bottom: 2rem;
	overflow: hidden;
	h3 {
		margin-bottom: 1rem;
		clear: both;
		text-align: right;
	}
	nav, ul {
		clear: both;
		margin-bottom: 0.5rem;
	}
}

.design-selection {
	background-image: url(../IMG/zen-pattern3.svg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.zen-resources {
	background-image: url(../IMG/zen-pattern5.svg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.design-archives::before{
	border-radius: 50%;
	height: 75px;
	width: 75px;
	content: "";
	display: block;
	margin-bottom: 1rem;
	float: left;
	margin-right: 1rem;
}

.design-archives{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding-left: 2.5rem;
	padding-top: 2rem;
	padding-right: 2.5rem;
	padding-bottom: 2rem;
	overflow: hidden;
	background-image: url(../IMG/zen-pattern4.svg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	h3 {
		margin-bottom: 1rem;
		clear: both;
	}
	nav {
		clear: both;
		margin-bottom: 0.5rem;
	}
}