$black: rgb(0,0,0);
$green: rgb(0,155,74);
$blue: rgb(56,164,216);
$yellow: rgb(211,178,5);
$red: rgb(177,1,24);
$black-super-transparent: rgba(0,0,0,0.2);
$green-super-transparent: rgba(0,155,74,0.2);
$blue-super-transparent: rgba(56,164,216,0.2);
$yellow-super-transparent: rgba(211,178,5,0.2);
$red-super-transparent: rgba(177,1,24,0.2);


/***general***/
a, a:hover {
	color: white;
	border-bottom: 1px solid white;
}


/***main content***/
.summary {
	p {
		color: #333;
	}
	a, a:hover {
		color: black;
		border-bottom: 1px solid black;
	}
}

.preamble::before {
	border: 5px solid lighten($blue, 25%);
}

.preamble {
	background-color: $blue;
	h3 {
		color: white;
	}
	p {
		color: white;
	}
}

.explanation::before {
	border: 5px solid lighten($black, 25%);
}

.explanation {
	background-color: $black;
	h3 {
		color: white;
	}
	p {
		color: white;
	}
}

.participation::before {
	border: 5px solid lighten($red, 25%);
}

.participation {
	background-color: $red;
	h3 {
		color: white;
	}
	p {
		color: white;
	}
}

.benefits::before {
	border: 5px solid lighten($yellow, 25%);
}

.benefits {
	background-color: $yellow;
	h3 {
		color: white;
	}
	p {
		color: white;
	}
}

.requirements::before {
	border: 5px solid lighten($green, 25%);
}

.requirements {
	background-color: $green;
	h3 {
		color: white;
	}
	p {
		color: white;
	}
}

/***sidebar***/
.design-selection::before {
	border: 5px solid lighten($red, 25%);
}

.design-selection {
	background-color: $red;
	h3 {
		color: white;
	}
	p {
		color: white;
	}
	nav {
		ul {
			li {
				color: white;
			}
		}
	}
}

.design-archives::before {
	border: 5px solid lighten($yellow, 25%);
}

.design-archives {
	background-color: $yellow;
	color: white;
	h3 {
		color: white;
	}
	p {
		color: white;
	}
}

.zen-resources::before {
	border: 5px solid lighten($green,25%);
}

.zen-resources {
	background-color: $green;
	h3 {
		color: white;
	}
	p {
		color: white;
	}
}