$black: rgb(0,0,0);
$green: rgb(0,155,74);
$blue: rgb(56,164,216);
$yellow: rgb(211,178,5);
$red: rgb(177,1,24);

/***general***/
a, a:hover {
	color: white;
	border-bottom: 1px solid white;
}


/***main content***/
.summary {
	p {
		color: #333;
	}
	a, a:hover {
		color: black;
		border-bottom: 1px solid black;
	}
}

.preamble::before {
	border: 5px solid lighten($blue, 25%);
}

.preamble {
	h3 {
		color: white;
	}
	p {
		color: white;
	}
}

.explanation::before {
	border: 5px solid lighten($black, 25%);
}

.explanation {
	h3 {
		color: white;
	}
	p {
		color: white;
	}
}

.participation::before {
	border: 5px solid lighten($red, 25%);
}

.participation {
	h3 {
		color: white;
	}
	p {
		color: white;
	}
}

.benefits::before {
	border: 5px solid lighten($yellow, 25%);
}

.benefits {
	h3 {
		color: black;
	}
	p {
		color: black;
	}
}

.requirements::before {
	border: 5px solid lighten($green, 25%);
}

.requirements {
	h3 {
		color: white;
	}
	p {
		color: white;
	}
}

/***sidebar***/
.design-selection::before {
	border: 5px solid lighten($red, 25%);
}

.design-selection {
	h3 {
		color: white;
	}
	p {
		color: white;
	}
	nav {
		ul {
			li {
				color: white;
			}
		}
	}
}

.design-archives::before {
	border: 5px solid ($yellow, 5%);
}

.design-archives {
	color: black;
	h3 {
		color: black;
	}
	a {
		color: black;
	}
}

.zen-resources::before {
	border: 5px solid lighten($green, 25%);
}

.zen-resources {
	h3 {
		color: white;
	}
	p {
		color: white;
	}
}