@media screen and (min-width: 700px) {
/***header***/
h1 {
  font-size: 6.5rem;
}

h2 {
   text-align: center;
   font-size: 3.75rem; 
}

.summary {
  max-width: 650px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 3em;
}



/***main content***/
  @include keyframes(scale) {
0%, 100% {
  @include transform(scale(1));
}
50% {
  @include transform(scale(1.25));
}

}

.explanation::before, .benefits::before, .preamble::before, .participation::before, .requirements::before {
	display: none;
}

.preamble {
  h3 {
    float: none;
    width: 100%;
    text-align: center;
    font-size: 3rem;
  }
  p:nth-of-type(1) {
	  width: 340px;
	  height: 340px;
	  border-radius: 50%;
	  box-sizing: border-box;
	  border: 25px solid $blue;
	  padding: 3.15rem;
	  float: left;
	  margin-top: 4rem;
  }
 p:nth-of-type(1)::after {
    content: "";
    background-color: $blue-super-transparent;
    width: 340px;
    height: 340px;
    border-radius: 50%;
    display: block; 
    margin-top: -242px;
    margin-left: -74px;
    @include animation(scale 2.5s linear infinite); 
  }
  p:nth-of-type(2) {
	  width: 340px;
	  height: 340px;
	  border-radius: 50%;
	  box-sizing: border-box;
	  border: 25px solid $blue;
	  padding: 3rem;
	  display: inline-block;
	  float: right;
  }
 p:nth-of-type(2)::after {
    content: "";
    background-color: $blue-super-transparent;
    width: 340px;
    height: 340px;
    border-radius: 50%;
    display: block; 
    margin-top: -268px;
    margin-left: -72px;
    @include animation(scale 2.5s linear infinite); 
  }
  p:nth-of-type(3) {
	  width: 380px;
	  height: 380px;
	  border-radius: 50%;
	  box-sizing: border-box;
	  border: 25px solid $blue;
	  padding: 3.25em;
	  float: left;
	  margin-bottom: 4rem;
  }
 p:nth-of-type(3)::after {
    content: "";
    background-color: $blue-super-transparent;
    width: 380px;
    height: 380px;
    border-radius: 50%;
    display: block; 
    margin-top: -301px;
    margin-left: -76px;
    @include animation(scale 2.5s linear infinite); 
  }
}

.explanation {
	clear: both;
   h3 {
    float: none;
    width: 100%;
    text-align: center;
  }
p:nth-of-type(1) {
	  width: 460px;
	  height: 460px;
	  border-radius: 50%;
	  box-sizing: border-box;
	  border: 25px solid $black;
	  padding: 4.25rem;
	  float: right;
	  margin-top: 4rem;
  }
 p:nth-of-type(1)::after {
    content: "";
    background-color: $black-super-transparent;
    width: 460px;
    height: 460px;
    border-radius: 50%;
    display: block; 
    margin-top: -373px;
    margin-left: -92px;
    @include animation(scale 2.5s linear infinite); 
  }
  p:nth-of-type(2) {
	  width: 465px;
	  height: 465px;
	  border-radius: 50%;
	  box-sizing: border-box;
	  border: 25px solid $black;
	  padding: 4rem;
	  float: left;
	  margin-bottom: 4.05rem;
  }
 p:nth-of-type(2)::after {
    content: "";
    background-color: $black-super-transparent;
    width: 465px;
    height: 465px;
    border-radius: 50%;
    display: block; 
    margin-top: -370px;
    margin-left: -89px;
    @include animation(scale 2.5s linear infinite); 
  }
}

.participation {
	clear: both;
  h3 {
    float: none;
    width: 100%;
    text-align: center;
  }
p:nth-of-type(1) {
    width: 450px;
    height: 450px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 25px solid $red;
    padding: 3.96rem;
    float: right;
    margin-top: 4rem;
  }
 p:nth-of-type(1)::after {
    content: "";
    background-color: $red-super-transparent;
    width: 450px;
    height: 450px;
    border-radius: 50%;
    display: block; 
    margin-top: -368px;
    margin-left: -87px;
    @include animation(scale 2.5s linear infinite); 
  }
  p:nth-of-type(2) {
    width: 380px;
    height: 380px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 25px solid $red;
    padding: 3.2rem;
    float: left;
  }
 p:nth-of-type(2)::after {
    content: "";
    background-color: $red-super-transparent;
    width: 380px;
    height: 380px;
    border-radius: 50%;
    display: block; 
    margin-top: -301px;
    margin-left: -75px;
    @include animation(scale 2.5s linear infinite); 
  }
  p:nth-of-type(3) {
    width: 470px;
    height: 470px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 25px solid $red;
    padding: 4.2rem;
    float: right;
    margin-bottom: 4rem;
  }
 p:nth-of-type(3)::after {
    content: "";
    background-color: $red-super-transparent;
    width: 470px;
    height: 470px;
    border-radius: 50%;
    display: block; 
    margin-top: -371px;
    margin-left: -91px;
    @include animation(scale 2.5s linear infinite); 
  }
}

.benefits {
  clear: both;
  h3 {
    float: none;
    width: 100%;
    text-align: center;
  }
  p {
    width: 450px;
    height: 450px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 25px solid darken($yellow, 10%);
    padding: 4.12rem;
    float: left;
    margin-bottom: 4rem;
    margin-top: 4rem;
  }
   p::after {
    content: "";
    background-color: darken($yellow-super-transparent, 10%);
    width: 440px;
    height: 440px;
    border-radius: 50%;
    display: block; 
    margin-top: -343px;
    margin-left: -90px;
    @include animation(scale 2.5s linear infinite); 
  }
}

.requirements {
  clear: both;
   h3 {
    float: none;
    width: 100%;
    text-align: center;
  }
  p:nth-of-type(1) {
    width: 465px;
    height: 465px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 25px solid $green;
    padding: 4.15rem;
    float: right;
    margin-top: 4rem;
  }
   p:nth-of-type(1)::after {
    content: "";
    background-color: $green-super-transparent;
    width: 465px;
    height: 465px;
    border-radius: 50%;
    display: block; 
    margin-top: -373px;
    margin-left: -91px;
    @include animation(scale 2.5s linear infinite); 
  }
  p:nth-of-type(2) {
    width: 565px;
    height: 565px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 25px solid $green;
    padding: 5.05rem;
    float: left;
  }
   p:nth-of-type(2)::after {
    content: "";
    background-color: $green-super-transparent;
    width: 565px;
    height: 565px;
    border-radius: 50%;
    display: block; 
    margin-top: -442px;
    margin-left: -104px;
    @include animation(scale 2.5s linear infinite); 
  }
  p:nth-of-type(3) {
    width: 420px;
    height: 420px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 25px solid $green;
    padding: 4rem;
    float: right;
  }
   p:nth-of-type(3)::after {
    content: "";
    background-color: $green-super-transparent;
    width: 420px;
    height: 420px;
    border-radius: 50%;
    display: block; 
    margin-top: -341px;
    margin-left: -88px;
    @include animation(scale 2.5s linear infinite); 
  }
  p:nth-of-type(4) {
    width: 430px;
    height: 430px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 25px solid $green;
    padding: 4rem;
    float: left;
  }
   p:nth-of-type(4)::after {
    content: "";
    background-color: $green-super-transparent;
    width: 430px;
    height: 430px;
    border-radius: 50%;
    display: block; 
    margin-top: -342px;
    margin-left: -88px;
    @include animation(scale 2.5s linear infinite); 
  }
  p:nth-of-type(5) {
    width: 310px;
    height: 310px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 25px solid $green;
    padding: 2.75rem;
    float: right;
    margin-bottom: 4rem;
  }
   p:nth-of-type(5)::after {
    content: "";
    background-color: $green-super-transparent;
    width: 310px;
    height: 310px;
    border-radius: 50%;
    display: block; 
    margin-top: -237px;
    margin-left: -67px;
    @include animation(scale 2.5s linear infinite); 
  }
}


/***footer***/
footer {
  clear: both;
}


/***sidebar***/
.design-archives::before, .design-selection::before, .zen-resources::before {
  display: none;
}

.design-selection {
   h3 {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
    float: none;
  }
  nav {
    width: 440px;
    height: 440px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 25px solid $red;
    padding: 3.83rem;
    float: left;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
nav::after {
    content: "";
    background-color: $red-super-transparent;
    width: 440px;
    height: 440px;
    border-radius: 50%;
    display: block; 
    margin-top: -346px;
    margin-left: -85px;
    @include animation(scale 2.5s linear infinite); 
  }
}

.design-archives {
  clear: both;
   h3 {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
    float: none;
  }
  nav {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 25px solid darken($yellow, 10%);
    padding: 2.3rem;
    float: right;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
nav::after {
    content: "";
    background-color: darken($yellow-super-transparent, 10%);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: block; 
    margin-top: -118px;
    margin-left: -62px;
    @include animation(scale 2.5s linear infinite); 
  }
}

.zen-resources {
  clear: both;
  h3 {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
    float: none;
  }
  ul {
    width: 305px;
    height: 305px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 25px solid $green;
    padding: 2.7rem;
    float: left;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
ul::after {
    content: "";
    background-color: $green-super-transparent;
    width: 305px;
    height: 305px;
    border-radius: 50%;
    display: block; 
    margin-top: -236px;
    margin-left: -67px;
    @include animation(scale 2.5s linear infinite); 
  }
}

@media screen and (min-width: 900px) {
  .preamble {
    p:nth-of-type(1), p:nth-of-type(2), p:nth-of-type(3) {
      margin-right: 5em;
      margin-left: 5em;
    }
  }

  .explanation {
     p:nth-of-type(1),  p:nth-of-type(2) {
        margin-right: 5em;
        margin-left: 5em;
     }
  }

  .participation {
     p:nth-of-type(1),  p:nth-of-type(2),  p:nth-of-type(3) {
        margin-right: 5em;
        margin-left: 5em;
     }
  }

  .benefits {
    p {
        margin-right: 5em;
        margin-left: 5em;
    }
  }

  .requirements {
     p:nth-of-type(1),  p:nth-of-type(2),  p:nth-of-type(3),  p:nth-of-type(4),  p:nth-of-type(5) {
        margin-right: 5em;
        margin-left: 5em;
     }
  }

  .design-selection {
    nav {
      margin-left: 5em;
      margin-right: 5em;
    }
  }

  .design-archives {
    nav {
      margin-left: 5em;
      margin-right: 5em;
    }
  }

  .zen-resources {
    ul {
      margin-right: 5em;
      margin-left: 5em;
    }
  }

}
    }